<!DOCTYPE html>
<html>
  <head>
    <title>HeyYou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container-fluid" id="home-container">
      <div class="jumbotron text-center text-white">
        <h1 class="display-4">Hiee! I am a filler :)</h1>
        <p class="lead">This is a rails applicationw using bootstrap 4.4.1</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
    <%= render 'layouts/messages' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
